.congratIndivid {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("https://user-images.githubusercontent.com/30325727/68528144-77e69800-02f7-11ea-8f88-8c22e9a273b7.jpg");
  background-size: cover;
  /* background-position: center; */
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winnerPlayerDiv {
  position: absolute;
  top: 4%;
  color: #d0f400;
  font-size: 35px;
}

.playAgain {
  position: absolute;
  top: 80%;
}

.playAgain img {
  height: 90px;
}



@media (min-width: 576px) {
  .winnerPlayerDiv {
    top: 14%;
    font-size: 80px;
  }

  .winnerPlayerDiv {
    font-size: 40px;
  }

  .playAgain {
    top: 87%;
  }

  .playAgain img {
    height: 136px;
  }
}