.gameScreen {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/gameScreen2.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.headerGameIndivid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.correct {
  background-image: url('../assets/greenColor.png') !important;
  background-size: cover;
  /* background: green; */
}

.incorrect {
  background-image: url('../assets/redColor.png') !important;
  background-size: cover;
  /* background: red; */
}

.titleGame {
  width: 50%;
  position: absolute;
}

.koraImg {
  width: 15%;
  position: absolute;
  top: 80%;
  left: 44%;
}


.playerImg {
  position: absolute;
  top: 80%;
  left: 26%;
  height: 21%;
}

.hares {
  position: absolute;
  width: 15%;
  top: 63%;
  left: 44%;
}

.answers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer1,
.answer2,
.answer3 {
  font-weight: bold;
  font-size: 19px;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
  background-image: url('../assets/defaultColor.png');
  background-size: cover;

  /* background-color: springgreen */
}

.answers p {
  color: white;
  font-weight: bold;
  font-size: 27px;
  margin-top: 10px
}

.answer1 {
  text-align: center;
  top: 60%;
  right: 20%;
}

.answer2 {
  top: 52%;
  text-align: center;
}

.answer3 {
  top: 60%;
  text-align: center;
  left: 20%;
}

.selectedImageFrame33 {
  height: 115px;
}

.selectedImage33 {
  position: absolute;
  height: 88px;
  left: 19px;
  top: -8px;
}

.counterParagGameInd {
  height: 60px;
  position: absolute;
  top: 17%;
  color: white;
  font-weight: bold;
  font-size: 170%;
}

.counter {
  height: 98px;
  width: 86px;
}

.subHeader33Game {
  position: relative;
  /* top: 39% */
}

.subHeader4Game {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}


.quesDiv {
  position: relative;
}

.questionStatement {
  position: absolute;
  top: 55%;
  width: 48%;
  left: 25%;
  background: transparent;
  border: none;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}



.bottomHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70%;
  margin-left: 5px;
  margin-right: 5px;
}


@media (min-width: 576px) {
  .questionStatement {
    font-size: 39px;
  }

  .answer3,
  .answer1,
  .answer2 {
    width: 95px !important;
    height: 95px !important;
    font-size: 34px !important;
    font-weight: bold !important;
  }

}
.answer1-f{
  animation:  answer1 2s ; /* IE 10+, Fx 29+ */

}
.answer2-f{
  animation:  answer2 2s ; /* IE 10+, Fx 29+ */

}
.answer3-f{
  animation:  answer3 2s ; /* IE 10+, Fx 29+ */

}
@keyframes answer1{
  0%{
    transform: perspective(200px) translate3d(0,-0,-0);
  }
  100%{
    transform: perspective(200px) translate3d(90px,-229px,-146px);
  }
}
@keyframes answer2{
  0%{
    transform: perspective(200px) translate3d(0,-0,-0);
  }
  100%{
    transform: perspective(200px) translate3d(0px,-260px,-150px)
  }
}

@keyframes answer3{
  0%{
    transform: perspective(200px) translate3d(0,-0,-0);
  }
  100%{
    transform: perspective(200px) translate3d(-127px,-191px,-148px)
  }
}


