.gameScreen2 {
  max-width: 600px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/gameScreen2.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.header2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px
}

.titleImage2 {
  width: 96%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}


.correct2 {
  background: green;
}

.incorrect2 {
  background: red;
}

.titleGame2 {
  width: 50%;
  position: absolute;
}

.koraImg2 {
  width: 15%;
  position: absolute;
  top: 80%;
  left: 44%;
}


.playerImg2 {
  position: absolute;
  top: 80%;
  left: 26%;
  height: 21%;
}

.hares2 {
  position: absolute;
  width: 15%;
  top: 63%;
  left: 44%;
}

.answers2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer1,
.answer2,
.answer3 {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
}

.answer1 {
  text-align: center;
  top: 60%;
  right: 20%;
}

.answer2 {
  top: 52%;
  text-align: center;
}

.answer3 {
  top: 60%;
  text-align: center;
  left: 20%;
}

.selectedImageFrame332 {
  height: 115px;
}

.selectedImage332 {
  position: absolute;
  height: 60px;
  left: 30px;
  top: 20px;
}

.counterParag2 {
  left: 5%;
  height: 60px;
  position: absolute;
  top: 17%;
  color: white;
  font-weight: bold;
  font-size: 170%;
}

.counter2 {
  height: 98px;
  width: 86px;
}

.subHeader332 {
  position: relative;
}

.subHeader3321 {

  position: relative;
}

.subHeader42 {
  display: flex;
  margin-top: 69%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.quesDiv2 {
  margin-top: 60px;
}

.questionStatement2 {
  position: absolute;
  top: 37%;
  width: 48%;
  left: 25%;
  background: transparent;
  border: none;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}

.answers2 p {
  color: white;
  font-weight: bold;
  font-size: 27px;
  margin-top: 10px
}

.subHeadersGroup {
  display: flex;
  margin-top: -69%;
  justify-content: space-between;
}

.redColor,
.blueColor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -28%;
  width: 95%;
  height: 14%;
  color: white;
}

.redColor {
  background-color: #cf002c;
}

.blueColor {
  background-color: #3f198d;
}