.mainDivv {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/backgroundSelectCha2.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  /* position: relative; */
}

/* @media (min-width: 991px) {
  .mainDivv {
    height: 100%
  }
} */


.selectGameTypes {
  margin-top: 5%;
  height: 8%;
  top: 3%;
  text-align: center;

}

.selectGameTypesImg {
  width: 91%;
}

.playIndividual {
  text-align: center;
  margin-top: 10%;
}


.playIndividualImg {
  width: 50%;
}


.game-individualButton {
  margin-bottom: 10%;
  margin-top: -2%;
  text-align: center;
}

.button-game-individual {
  width: 41%;
}



.playWithGroup {
  top: 69%;
  text-align: center;
  margin-top: 9%;
}

.playWithGroupImg {
  width: 50%;
}


.vsPlayType {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-top: 9px;
}

.vsPlayTypeImg {
  max-width: 72px;
  height: 58px;
  object-fit: contain;
  margin: 0px 15px;
  margin-left: 30px;
  margin-right: 30px;
}


.select-compititorButton {
  text-align: center;
  margin-top: 2%;
}

.button2-select-compititor {
  width: 52%;

}



.centerKora {
  /* width: 80%; */
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /*  */
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9%;
}




.kora {

  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 12px solid #fff;
  border-radius: 50%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /* width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); */
}

.kora:after,
.kora:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 250%;
  background: #fff;
  /* content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 200%;
  background: #fff; */
}

.kora:after {
  left: -250%;
}

.kora:before {
  right: -250%;
}



@media (min-width: 576px) {
  .vsPlayTypeImg {
    max-width: 57%;
    height: 76px;
  }

  .vsPlayType {
    font-size: 40px;
    margin-top: 4%;
  }

  .kora {
    width: 200px;
    height: 200px;
    border: 25px solid #fff;
  }

  .kora:after,
  .kora:before {
    height: 25px;
  }
}