.gameScreen2g {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/gameScreen2.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.play0,
.play1 {
  position: absolute;
  height: 66px;
}

.play0 {
  left: 20px;
  top: -2px;

}

.play1 {
  left: 20px;
  top: 100px;
}



.countPPg,
.countPP {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterParag2g {
  position: absolute;
  top: 19%;
  font-size: 26px;
  color: white;
}


.header2g {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9px
}

.titleImage2g {
  width: 75%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.correct2g {
  background: green;
}

.incorrect2g {
  background: red;
}

.titleGame2g {
  width: 50%;
  position: absolute;
}

.koraImg2g {
  width: 15%;
  position: absolute;
  top: 80%;
  left: 44%;
}


.playerImg2g {
  position: absolute;
  top: 80%;
  left: 26%;
  height: 21%;
}

.hares2g {
  position: absolute;
  width: 15%;
  top: 63%;
  left: 44%;
}


.answers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer1,
.answer2,
.answer3 {
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 50%;
  position: absolute;
}

.answer1 {
  text-align: center;
  top: 60%;
  right: 20%;
}

.answer2 {
  top: 52%;
  text-align: center;
}

.answer3 {
  top: 60%;
  text-align: center;
  left: 20%;
}

.selectedImageFrame332g {
  height: 95px;
}

/* 
.selectedImage332g {
  position: absolute;
  height: 48px;
  left: 30px;
  top: 20px;
} */

/* .counterParag2g {
  left: 5%;
  height: 60px;
  position: absolute;
  top: 17%;
  color: white;
  font-weight: bold;
  font-size: 170%;
} */

.counter2g {
  height: 95px;
  width: 96px;
}

.subHeader332g {
  position: relative;
}

.subHeader3321g {

  position: relative;
}

.subHeader42g {
  display: flex;
  margin-top: 61%;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.quesDiv2g {
  margin-top: 71px;
  position: relative;
}

.questionStatement2g {
  position: absolute;
  top: 47%;
  width: 48%;
  left: 25%;
  background: transparent;
  border: none;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}

.answers p {
  color: white;
  font-weight: bold;
  font-size: 27px;
  margin-top: 10px
}

.subHeadersGroupg {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -71%;
}

.redColorg,
.blueColorg {
  text-align: center;
  margin-top: -50%;
  width: 95%;
  height: 9%;
  color: white;
}




.redColorg {
  background-color: #cf002c;
}

.blueColorg {
  background-color: #3f198d;
}


@media (max-width: 320px) {
  .subHeader42g {
    margin-top: 43%;
  }

  .subHeadersGroupg {
    margin-top: -76%;
  }


}

@media (min-width: 576px) {
  .selectedImageFrame332g {
    height: 194px;
  }

  .selectedImage332g {
    height: 138px;
    left: 40px;
    top: -1px;
  }

  .subHeadersGroupg {
    margin-top: -55%;
  }

  .playNow {
    font-weight: bold;
    font-size: 25px;
  }

  .questionStatement2g {
    font-size: 32px
  }

  .titleImage2g {
    width: 66%;
  }

  .subHeader42g {
    display: flex;
    margin-top: 44%;
  }

  .counter2g {
    height: 177px;
    width: 174px;
  }

  .play1 {
    top: 174px;
  }

  .blueColorg,
  .redColorg {
    font-weight: bold;
    font-size: 25px;
  }

  .countPPg,
  .countPP {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .counterParag2g {
    position: absolute;
    top: 19%;
    font-size: 47px;
    color: white;
    font-weight: bold;
  }
}