.mainDivv {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/backgroundSelectCha2.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.selectGameTypes {
  position: absolute;
  height: 8%;
  /* text-align: center; */
  /* align-items: center; */
  top: 3%;
  /* justify-content: center; */
}


.selectGameTypesImg {
  width: 91%;
  /* margin-bottom: 146%; */
}

.playIndividual {
  text-align: center;
  top: 16%;
  position: absolute;
}


.playIndividualImg {
  width: 50%;
}


.game-individualButton {
  position: absolute;
  text-align: center;
  top: 25%;
}


.button-game-individual {
  width: 41%;
}



.playWithGroup {
  position: absolute;
  top: 69%;
  text-align: center;
}

.playWithGroupImg {
  width: 50%;
}


.vsPlayType {
  font-size: 20px;
  position: absolute;
  top: 76%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.vsPlayTypeImg {
  max-width: 72px;
  height: 58px;
  object-fit: contain;
  margin: 0px 15px;
  margin-left: 30px;
  margin-right: 30px;
}

/* .vsPlayType {
  position: absolute;
  top: 75%;
  text-align: center;
  display: flex;
  flex-direction: row;
} */

.select-compititorButton {
  position: absolute;
  top: 84%;
  text-align: center;
}

.button2-select-compititor {
  width: 52%;

}

/* .vsPlayTypeImg {
  width: 22%;
} */

.centerKora {
  width: 80%;
}

.kora {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.kora:after,
.kora:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 10px;
  width: 200%;
  background: #fff;
}

.kora:after {
  left: -200%;
}

.kora:before {
  right: -200%;
}

@media (min-width: 576px) {
  .vsPlayTypeImg {
    max-width: 57%;
    height: 76px;
  }

  .vsPlayType {
    font-size: 40px;
    margin-top: 4%;
  }

  .kora {
    width: 200px;
    height: 200px;
  }
}