.mainView {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/backgroundSelectCha3.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

@media (min-width: 991px) {
  .mainView {
    height: 100%
  }
}

.titleImage {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21px;
}



.mainDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.imagesDiv {
  width: calc(100% / 5 - 10px);
  height: 80px;
  background: #ccc;
  margin: 0 5px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  box-sizing: border-box;
  position: relative;
}

.subHeader {
  /* top: 25px */
  position: relative;
  /* top: 37px; */
  margin-bottom: -40px;
}

.selectedImageFrame {
  /* height: 200px; */
  height: 187px;
}

.selectedImage {
  position: absolute;
  /* height: 120px; */
  height: 140px;
  left: 30px;
  top: -10px;
}

.charactersImage {
  height: 90px;
  position: absolute;
  top: -17px;
}

.subHeader {
  position: relative;
}

.enter {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /*  */
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9%;
  /*  */
}


.enterButton {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 12px solid #fff;
  border-radius: 50%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.enterButton:after,
.enterButton:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 250%;
  background: #fff;
}

.enterButton:after {
  left: -250%;
}

.enterButton:before {
  right: -250%;
}

.errorMeassage2 {
  color: red;
  text-align: center;
  font-weight: bold
}

@media (min-width:567px) {

  .selectedImageFrame {
    height: 250px;
  }

  .selectedImage {
    position: absolute;
    height: 160px;
    left: 60px;
    top: 30px;
  }

  .enterButton:after,
  .enterButton:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 500%;
    background: #fff;
  }

  .enterButton:before {
    right: -500%;
  }

  .enterButton:after {
    left: -500%;
  }

  .enterButton {
    width: 180px;
    height: 180px;

  }

  .imagesDiv {
    height: 130px;
    margin-bottom: 40px;
  }

  .charactersImage {
    height: 150px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
}