.popWaiting {
  width: 80%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('https://user-images.githubusercontent.com/30287981/68533748-48568080-0335-11ea-9966-68dd19044856.png');
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
}

.popup_innerWaiting {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 122px;
  position: relative;
}

.cancelInvitation {
  position: absolute;
  height: 36%;
  top: 60%;
  background-image: url('https://user-images.githubusercontent.com/30287981/68534148-b0a76100-0339-11ea-99c5-b1a5cb520c25.png');
  color: #fff;
  font-size: 90%;
  font-weight: bold;
  text-decoration: none;
  background-color: #8cc63f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  display: inline-block;
  border: 3px solid #fff;
  transition: all 0.4s ease 0s;
}