.selectCompititorsDiv {
  max-width: 600px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/backgroundSelectCha.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column
}

/* 
.subHeaderMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.subHeader2,
.subHeader3 {
  position: relative;
  top: 25px
}

.selectedImageFrame2,
.selectedImageFrame3 {
  height: 155px;

}

.vs {
  height: 70px;
  margin-top: 120px;
}

.selectedImage2,
.selectedImage3 {
  position: absolute;
  height: 90px;
  top: 20px;

}

.selectedImage2 {
  left: 30px;
}


.selectedImage3 {
  right: 19px;
} */

.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5%
}

.searchInput {
  height: 50px;
  width: 100%;
}

.searchButton {
  height: 44px;
  margin-right: 10px;
  background-color: #cd8e50;
  border-radius: 15%;
  display: inline-block;
  border: 3px solid #efcfaf;
  color: white;
  font-weight: bold;
  font-size: 15px
    /* transition: all 0.4s ease 0s; */
}

.inputDiv {
  position: relative;
  max-width: 260px;
  justify-content: center;

}

.enteringSearchInput {
  position: absolute;
  left: 4px;
  width: 213px;
  height: 33px;
  background: transparent;
  border: none;
  font-size: 19px;
  padding: 5px 10px;
}

.searchDiv {
  display: flex;
  justify-content: center;

}


/* .buttons {
  height: 2%;
} */

.onButton,
.invButton,
.busyButton {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: #8cc63f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 42px;
  display: inline-block;
  border: 3px solid #fff;
  transition: all 0.4s ease 0s;
}

.onButton {
  background-image: url('../assets/onColor.png');
  text-align: center;
  vertical-align: middle;

}

.invButton {
  background-image: url('../assets/invColor.png');

}

.busyButton {
  background-image: url('../assets/busyColor.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* .compiteButton {
  height: 60px;
  margin-top: 10px
} */

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.onlinePlayers {
  overflow: auto;
  height: 28%;
  margin-right: 10px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.onlinePlayersDiv {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column */
  /* width: 89%; */
}


ul {
  list-style: none;
  padding: 0
}

.titleImage1 {
  width: 100%;
  margin-top: 14px;
}

.titleImage {
  width: 96%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.playersName {
  height: 8%;
  position: relative;
}

.playersName img {
  height: 32px;
}

.enteringName {
  position: absolute;
  text-align: center;
  left: 4px;
  height: 33px;
  background: transparent;
  border: none;
  font-size: 96%;
  top: 15%;
}

/* .compiteButtonDiv {
  text-align: center;
} */

.fasel {
  background-color: #ff4c27;
  width: 100%;
  height: 5%;
  margin-top: 15px;
  border-top: 3px solid white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 1), 0 1px 4px rgba(0, 0, 0, 1);
}

.fasel p {
  text-align: center;
  margin-top: 4px;
  color: white;
  font-size: 21px;
  font-weight: bold;
}