.mainTable {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("../assets/backgroundTble.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}


.titleTable {
  width: 90%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* 
.letsStart {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.letsStartImg {
  width: 40%;
  height: 20%;
} */

.allTables {
  display: flex;
  /* flex-wrap: wrap-reverse; */
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 5px;
}

.imagesTable {
  width: calc(100% / 3 - 10px);
  height: 80px;
  margin: 0 5px;
  margin-bottom: 30px;
}

.tableSpec {
  width: 196px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 123px;
  margin-top: 3%
}

@media (min-width:567px) {
  .imagesTable {
    height: 175px;
  }

  .tableSpec {
    width: 304px;
    height: 195px;
  }

}