.selectCompititorsDiv {
  max-width: 991px;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background: #ddd;
  background-image: url("https://user-images.githubusercontent.com/30325727/68528149-7ae18880-02f7-11ea-96a4-e0720e1b5051.png");
  background-size: cover;
  background-position: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column
}

.startButton {
  height: 44px;
  width: 100px;
}

.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5%
}

.searchInput {
  height: 50px;
  width: 100%;
}

.searchButton {
  height: 44px;
  margin-right: 10px;
  background-color: #cd8e50;
  border-radius: 15%;
  display: inline-block;
  border: 3px solid #efcfaf;
  color: white;
  font-weight: bold;
  font-size: 15px
    /* transition: all 0.4s ease 0s; */
}

.inputDiv {
  position: relative;
  max-width: 260px;
  justify-content: center;
  display: flex
}


.enteringSearchInput {
  position: absolute;
  left: 9px;
  width: 213px;
  height: 33px;
  background: transparent;
  border: none;
  font-size: 19px;
  padding: 5px 10px;
}

.enteringSearchInput::placeholder {
  color: #519e43;
  font-size: 13px;
  text-align: center;
  font-weight: bold
}

.searchDiv {
  display: flex;
  justify-content: center;

}


/* .buttons {
  height: 2%;
} */

.onButton,
.invButton,
.busyButton {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color: #8cc63f;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: inline-block;
  border: 3px solid #fff;
  transition: all 0.4s ease 0s;
  text-align: center;
  vertical-align: middle;
}

.onButton {
  background-image: url('https://user-images.githubusercontent.com/30287981/68533793-bdc25100-0335-11ea-8f4e-893fc8b7d4a0.png');
  text-align: center;
  vertical-align: middle;
}

.invButton2 {
  height: 80%;
  font-size: 64%;
}

.invButton {
  background-image: url('https://user-images.githubusercontent.com/30287981/68534148-b0a76100-0339-11ea-99c5-b1a5cb520c25.png');

}

.busyButton {
  background-image: url('https://user-images.githubusercontent.com/30287981/68533909-4b527080-0337-11ea-9087-c37b835dd00a.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* .compiteButton {
  height: 60px;
  margin-top: 10px
} */

.rows {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.onlinePlayers {
  overflow: auto;
  height: 28%;
  margin-right: 10px;
  margin-left: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.playersToPlayWith {
  margin-top: 6%;
  height: 22%;
  background: rgba(0, 0, 0, 0.5);

}

.onlinePlayersDiv {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column */
  /* width: 89%; */
}


ul {
  list-style: none;
  padding: 0
}

.titleImage1 {
  width: 100%;
  margin-top: 14px;
}

.titleImage {
  width: 96%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.playersName {
  height: 8%;
  position: relative;
}

.playersName2 {
  height: 8%;
  position: relative;
}

.playersName img {
  height: 32px;
}

.playersName2 img {
  height: 27px;
}

.enteringName {
  position: absolute;
  text-align: center;
  left: 4px;
  height: 33px;
  background: transparent;
  border: none;
  font-size: 96%;
  top: 15%;
}

.enteringName2 {
  position: absolute;
  text-align: center;
  left: 8%;
  height: 33px;
  background: transparent;
  border: none;
  font-size: 96%;
  top: 18%;
}

/* .compiteButtonDiv {
  text-align: center;
} */

.fasel {
  background-color: #ff4c27;
  width: 100%;
  height: 5%;
  margin-top: 15px;
  border-top: 3px solid white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 1), 0 1px 4px rgba(0, 0, 0, 1);
}

.errorMeassageG {
  color: red;
  font-weight: bold;
  text-align: center;
  background: #fff;
  padding: 8px;
  border-radius: 10px;
  font-size: 10px;
  margin-top: 13px;
}

.fasel p {
  text-align: center;
  margin-top: 4px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.true,
.false {
  height: 25px
}


@media (min-width: 576px) {
  .onlinePlayers {
    height: 33%;
  }

  .fasel p {
    font-size: 32px;
  }

  .invButton,
  .busyButton,
  .onButton {
    height: 73px;
    width: 117px;
  }

  .onButton,
  .invButton,
  .busyButton {
    font-size: 27px;
    text-align: center;
    vertical-align: middle;
  }

  .playersName img {
    height: 56px;
  }

  .onlineButtons {
    text-align: center;
    vertical-align: middle;
  }

  .enteringName {
    font-size: 199%;
    top: 15%;
    left: 14px;
  }


  .enteringSearchInput {
    top: 10%;
    left: -15%;
    width: 125%;
  }

  .enteringSearchInput::placeholder {
    font-size: 20px;
  }

  .rows {
    margin-bottom: 13px;
  }

  .playersName2 img {
    height: 56px;
  }

  .enteringName2 {
    font-size: 199%;
    top: 15%;
    left: 14px;
  }

  .true,
  .false {
    height: 51px;
    margin-left: 16px;
  }

  .searchDiv {
    margin: 2%;
  }

  .searchInput {
    height: 71px;
    width: 180%;
  }

  .searchButton {
    height: 68px;
    font-size: 29px
  }

  .startButton {
    height: 75px;
    width: 174px;
  }

  .errorMeassageG {
    margin-top: 13px;
    font-size: 22px;
  }

  .playersToPlayWith {
    height: 30%;
  }


}

/* .invButton {
  height: 56px;
  width: 114px;

.onButton, .invButton, .busyButton {
  font-size: 27px; */